
.p-md-5 {
  padding: 3rem!important;
}

.rounded {
  border-radius: 25px;
}

.p-4 {
  padding: 1.5rem!important;
}

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.px-0 {
  padding-right: 0!important;
  padding-left: 0!important;
}


/*@media (min-width: 768px)*/
.col-md-6 {
  flex: 0 0 auto;
  width: 100%;
}

*, ::after, ::before {
  box-sizing: border-box;
}

div {
  display: block;
}

header {
    display: block;
}

#mi_canvas {
  width: 100%;
  display: block;
}

#lienzo{ 
  position: relative;
}

#gui { 
  position: absolute;
  top: 2px; left: 30px;
}